/* Paleta Temas_Teste — rofi */

* {
    background:         #7a00ff;
    background-window:  #7a00ffe6;
    background-alt:     #ff00aa;
    foreground:         #39ff14;
    selected:           #ffe600;
    border-color:       #00e5ff;
}
