@import url("../theme/palette/waybar.css");

* {
    border: none;
    border-radius: 0px;

    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;
    font-size: 14px;  

    min-height: 0;
    padding: 0;
    margin: 0;

}

window#waybar {
    background: transparent;
}

tooltip {
    background: @fundo;
    border: 3px solid @borda;
    border-radius: 12px;
}

tooltip label {
    color: @texto;
    padding: 12px;
}

#workspaces {
    background-color: @fundo;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 3px solid @borda;
    color: @black_absoluto;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 16px;
    color: @texto;
    background-color: @fundo;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @texto;
    color: @texto_ativo;
    min-width: 24px;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
}


#workspaces button:hover {
    background-color: @purple;
    color: @bg0;
    border-radius: 16px;
    min-width: 16px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-radius: 16px;
    min-width: 16px;
    transition: all 0.3s ease-in-out;
}

#battery,
#pulseaudio,
#backlight,
#network,
#clock,
#custom-notification,
#bluetooth {
    background-color: @fundo;
    padding: 0 15px 0 15px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 3px solid @borda;
}

#clock {
    color: @texto;
    font-weight: bold;
}

#custom-notification {
    color: @texto;
    font-weight: bold;
    margin: 0 12px 0 12px;
}

#pulseaudio {
    color: @texto;
}

#network {
    color: @texto;
}

#battery {
    color: @texto;
}

#bluetooth {
    color: @texto;
}

#bluetooth.connected {
    color: @blue;
}

#backlight {
  color: @texto;
}
